html {
	height:100%;
	font-family : Trebuchet MS;
}

body {
	height: 100%;
	width:100%;
	background-color: #FFF8DC;
	background:url("../images/fond.jpg") scroll repeat;
}



header {
	background-color: #87CEFA;
	margin-bottom: 3px;
	text-align: center;
	padding: 5%;
	color:black;
	font-size:25px;
	background:url("../images/pool.jpg") scroll repeat;
	}

nav {
	margin-right:10px;
	float:left;
	background-color : #5f5f5f;
	color:black;
    border: 3px #8B0000 inset;
	vertical-align:top;
	width: 100%;
	text-overflow:auto;
	box-sizing: border-box;
	height:5%;
	padding:1%;
	overflow:hidden;
	background:url("../Images/image007.png") scroll repeat;
 }
/*#nav{
	width:100px;
}*/
 span {
	 display:inline-block;
 }

  span.pool {
	float:right;
	background:url("../images/bassin.jpg") scroll repeat;
 }

   span.texteAccueil {
	margin-top:5px;
	border: 3px #8B0000 inset;
	 vertical-align:middle;

 }



 p{
	display : inline-block;
	color:black;
	width:80%;
	word-wrap:break-word;
	overflow:hidden;
	 padding:20px;
	 margin-top:30px;
 }

section{
	display :inline-block;
	color:black;

}

div {
display : inline-block;
color : black;
border-radius : 10%;
	padding:20px;
	margin-top:30px;
text-align:center;
}

footer {
	background-color:#626266;
	text-align:right;
	padding-left: 6px;
	padding-right:6px;
	color:white;
}

footer {position: absolute; bottom: 0; left: 0; right: 0}

#algo {
width:40%;
padding : 10px;
padding-right: 7%;
margin : 10px;
border: 3px #8B0000 inset;
float:top;
}


#article lexique {
display:inline;
}
a:link , a:hover , a:visited{
	color: white;
	text-decoration:none;
}

#intro{
	display: inline;
}

article {
	display:inline-block;
}

img
{
 display: inline-block;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}


#progra {
padding : 10px;
margin : 10px;
border: 3px #8B0000 inset;
float:top;
display:inline-block;
}

#decomposition_progra {
padding : 10px;
margin : 10px;
border: 3px #8B0000 inset;
display:block;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	position: absolute;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}


@media all and (max-width: 1024px)
{
    ul{
        width: auto;
		font-size:15px;
    }

	#algo{
		font-size:20px;
	}
}

button {
  color: #FFF;
  background-color: #900;
  font-weight:bold;
}

.centre {
text-align:center;
}
#monForm {
   position:absolute;
   top:50%;
   left:50%;
   width:400px; /* A toi de donner la bonne largeur */
   height:400px; /* A toi de donner la bonne hauteur */
   margin-left:-150px; /* -largeur/2 */
   margin-top:-100px; /* -hauteur/2 */
}
